.header {
    background: #77AB56;
    width: 100%;
    height: 0.01em;
    text-align: center;
    padding-top: 5em;
    box-shadow: #000 0 0 4px 0;
}

.header h1 {
    color: #fff;
    margin: -1.83em 0;
}

.content {
    margin: 3em;
    padding-top: 10em;
    text-align: center;
}

.content input {
    padding: 0 1em;
    width: 46em;
    height: 43px;
}

.target a {
    text-decoration: none;
    color: #999;
}

.submit {
    display: block;
    margin: 2em auto 2em auto;
    border-radius: 4px;
    width: 6em;
    padding: 0.8em;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;

}

.submit:hover {
    background-color: #4CAF50;
    color: white;
}